#header {
    width: 1170px;
    margin: 0 auto;
    & nav {
        display: inline-flex;
        & a {
            margin: 9px 15px 8px 5px;
            font-size: 16px;
            color: black;
        }
    }
}