@media (min-width: 1200px) {
    .container{
        width: 1318px;
    }
}

body {
    background: #E3E3E3;
}

.truncate {
    max-height: 100px;
    overflow: hidden;
}

.ng-invalid.ng-dirty {
    border-color: red;
}

// ICONS

.my-icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
    background-size: 100% 100%;
    &.cart-icon {
        background-image: url(../images/bascet-album.png);
    }
    &.cart-info {
        background-image: url(../images/info-album.png);
    }
}

.breadcrumb {
    width: 838px;
    padding: 8px 15px;
    margin: 10px auto;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}