<div class="modal-header">
    <h3 class="modal-title">Registration</h3>
</div>
<div class="modal-body">
    <div>
        <h2>Profile Information</h2>
        <input type="text" class="form-control" placeholder="First Name"><br>
        <input type="text" class="form-control" placeholder="Last Name"><br>
    </div>
    <div>
        <h2>Login Data</h2>
        <input type="text" class="form-control" placeholder="Email address"><br>
        <input type="text" class="form-control" placeholder="Password"><br>
        <input type="text" class="form-control" placeholder="Password confirmation"><br>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="">Register</button>
    <button class="btn btn-danger" ng-click="">Reset</button>
</div>