<div>
    <h3>My Cart</h3>
    <div>
        There are {{cart.items.length}} items in your cart
    </div>
    <div class="clearfix">
        Cart subtotal: ${{cart.total()}}
        <div class="pull-right btn btn-default">Checkout</div>
    </div>
    <hr>
    <div class="row" ng-repeat="item in cart.items">
        <img class="col-md-6" ng-src="images/{{item.image_path}}">
        <div class="col-md-6">
            {{::item.album_name}}<br>
            Price: {{item.album_price * item.count | number}}<br>
            {{item.count}} x {{::item.album_price}}
        </div>
    </div>
    <hr>
    <div class="pull-right btn btn-default" ng-click="cart.clear()">Clear Cart</div>
</div>