<div class="row main-albums">
    <div class="col-md-4" ui-sref="album({id: home.albums.big[0].album_id})">
        <img class="col-xs-12 big-img" ng-src="images/{{home.albums.big[0].image_path}}">
        <span class="text">
            <span>{{::home.albums.big[0].album_name}}</span><br>
            <span>{{::home.albums.big[0].album_artist}}</span>
        </span>
    </div>
    <div class="col-md-2" ng-repeat="album in ::home.albums.header" ui-sref="album({id: album.album_id})">
        <img class="col-xs-12" ng-src="images/{{album.image_path}}"><br>
        <span class="text">
            <span>{{::album.album_name}}</span><br>
            <span>{{::album.album_artist}}</span>
        </span>
    </div>
</div>

<div ncy-breadcrumb></div>

<div class="row">
    <div class="home-container">
        <div class="col-md-3">
            <genre-sidebar></genre-sidebar>
            <cart add-to-cart="addToCart"></cart>
            <div class="row my-card mc-compact" ng-repeat="album in ::home.albums.sidebar">
                <div class="mc-inner">
                    <div ui-sref="album({id: album.album_id})">
                        <img class="col-xs-12" ng-src="images/{{album.image_path}}"><br>
                        <strong>{{::album.album_name}}</strong><br>
                    </div>
                    <div class="clearfix">
                        <div class="pull-left">{{::album.album_price | currency}}</div>
                        <div class="my-icon cart-icon pull-right" ng-click="main.addToCart(album)"></div>
                        <div class="my-icon cart-info pull-right"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="my-card mc-compact" ng-repeat="album in ::home.albums.content">
                <div class="mc-inner">
                    <div ui-sref="album({id: album.album_id})">
                        <img ng-src="images/{{album.image_path}}"><br>
                        <span>{{::album.album_name}}</span><br>
                    </div>
                    <div class="clearfix">
                        <span class="price pull-left">{{::album.album_price | currency}}</span>
                        <div class="my-icon cart-info pull-right"></div>
                        <div class="my-icon cart-icon pull-right" ng-click="main.addToCart(album)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>