<div class="row">
    <div class="col-md-4" ui-sref="album({id: home.albums.big[0].album_id})">
        <img class="col-xs-12" ng-src="images/{{home.albums.big[0].image_path}}"><br>
        <strong>{{::home.albums.big[0].album_name}}</strong><br>
        <strong>{{::home.albums.big[0].album_artist}}</strong>
    </div>
    <div class="col-md-2" ng-repeat="album in ::home.albums.header" ui-sref="album({id: album.album_id})">
        <img class="col-xs-12" ng-src="images/{{album.image_path}}"><br>
        <strong>{{::album.album_name}}</strong><br>
        <strong>{{::album.album_artist}}</strong>
    </div>
</div>

<breadcrumbs></breadcrumbs>

<div class="row">
    <div class="col-md-10">
        <div class="col-md-3">
            <genre-sidebar></genre-sidebar>
            <div class="row my-card mc-compact" ng-repeat="album in ::home.albums.sidebar">
                <div class="mc-inner">
                    <div ui-sref="album({id: album.album_id})">
                        <img class="col-xs-12" ng-src="images/{{album.image_path}}"><br>
                        <strong>{{::album.album_name}}</strong><br>
                    </div>
                    <div class="clearfix">
                        <div class="pull-left">{{::album.album_price | currency}}</div>
                        <div class="my-icon cart-icon pull-right" ng-click="main.addToCart(album)"></div>
                        <div class="my-icon cart-info pull-right"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-4 my-card mc-compact" ng-repeat="album in ::home.albums.content">
                <div class="mc-inner">
                    <div ui-sref="album({id: album.album_id})">
                        <img class="col-xs-12" ng-src="images/{{album.image_path}}"><br>
                        <strong>{{::album.album_name}}</strong><br>
                    </div>
                    <div class="clearfix">
                        <div class="pull-left">{{::album.album_price | currency}}</div>
                        <div class="my-icon cart-icon pull-right" ng-click="main.addToCart(album)"></div>
                        <div class="my-icon cart-info pull-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>