<div class="row">
    <h1>Login or Create an Account</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">NEW COSTUMERS</div>
            <div class="panel-body">
                <p>By creating an account in our store, you will able to move throught the checkout process faster, store multiple shipping adresses, view and truck your ordersin your account and more.</p>
                <button class="btn btn-default" ng-click="login.createAccount()">Create an Account</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">REGISTERED COSTUMERS</div>
            <div class="panel-body">
                <p>If you have an account with us, please log in.</p>
                <form name="login.loginForm">
                    <div class="input-group">
                        <label for="email">Email Address</label><br>
                        <input id="email" type="text" ng-model="login.loginInfo.email">
                    </div>
                    <br>
                    <div class="input-group">
                        <label for="password">Password</label><br>
                        <input id="password" type="password" ng-model="login.loginInfo.password">
                    </div>
                    <br>
                    <button class="btn btn-default" ng-click="login.doLogin()">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>